<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddAdminServlet</servlet-name>
        <servlet-class>za.ac.tut.web.admin.AddAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.admin.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.student.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginHandler</servlet-name>
        <servlet-class>za.ac.tut.web.UserLoginHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.student.StudentLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentAdminServlet</servlet-name>
        <servlet-class>za.ac.tut.web.studentadmin.AddStudentAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentAdminLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.studentadmin.StudentAdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSecurityServlet</servlet-name>
        <servlet-class>za.ac.tut.web.security.AddSecurityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecurityLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.security.SecurityLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindAllStudentAdminServlet</servlet-name>
        <servlet-class>za.ac.tut.web.studentadmin.FindAllStudentAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudentAdminServlet</servlet-name>
        <servlet-class>za.ac.tut.web.studentadmin.EditStudentAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentAdminServlet</servlet-name>
        <servlet-class>za.ac.tut.web.studentadmin.DeleteStudentAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeFindAllStudentAdminServlet</servlet-name>
        <servlet-class>za.ac.tut.web.studentadmin.DeFindAllStudentAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddStudentAdminServlet</servlet-name>
        <servlet-class>za.ac.tut.web.admin.AdminAddStudentAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.admin.AdminAddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindAllStudent</servlet-name>
        <servlet-class>za.ac.tut.web.student.FindAllStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.student.EditStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelStudent</servlet-name>
        <servlet-class>za.ac.tut.web.student.DelStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeFindAllStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.student.DeFindAllStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddSecurityServlet</servlet-name>
        <servlet-class>za.ac.tut.web.admin.AdminAddSecurityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeFindAllSecurityServlet</servlet-name>
        <servlet-class>za.ac.tut.web.security.DeFindAllSecurityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelSecurity</servlet-name>
        <servlet-class>za.ac.tut.web.security.DelSecurity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindAllSecurity</servlet-name>
        <servlet-class>za.ac.tut.web.security.FindAllSecurity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSecurityServlet</servlet-name>
        <servlet-class>za.ac.tut.web.security.EditSecurityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAdminServlet</servlet-name>
        <url-pattern>/AddAdminServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginHandler</servlet-name>
        <url-pattern>/UserLoginHandler.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLoginServlet</servlet-name>
        <url-pattern>/StudentLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentAdminServlet</servlet-name>
        <url-pattern>/AddStudentAdminServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentAdminLoginServlet</servlet-name>
        <url-pattern>/StudentAdminLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSecurityServlet</servlet-name>
        <url-pattern>/AddSecurityServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecurityLoginServlet</servlet-name>
        <url-pattern>/SecurityLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindAllStudentAdminServlet</servlet-name>
        <url-pattern>/FindAllStudentAdminServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudentAdminServlet</servlet-name>
        <url-pattern>/EditStudentAdminServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentAdminServlet</servlet-name>
        <url-pattern>/DeleteStudentAdminServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeFindAllStudentAdminServlet</servlet-name>
        <url-pattern>/DeFindAllStudentAdminServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddStudentAdminServlet</servlet-name>
        <url-pattern>/AdminAddStudentAdminServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddStudentServlet</servlet-name>
        <url-pattern>/AdminAddStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindAllStudent</servlet-name>
        <url-pattern>/FindAllStudent.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudentServlet</servlet-name>
        <url-pattern>/EditStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelStudent</servlet-name>
        <url-pattern>/DelStudent.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeFindAllStudentServlet</servlet-name>
        <url-pattern>/DeFindAllStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddSecurityServlet</servlet-name>
        <url-pattern>/AdminAddSecurityServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeFindAllSecurityServlet</servlet-name>
        <url-pattern>/DeFindAllSecurityServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelSecurity</servlet-name>
        <url-pattern>/DelSecurity.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindAllSecurity</servlet-name>
        <url-pattern>/FindAllSecurity.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSecurityServlet</servlet-name>
        <url-pattern>/EditSecurityServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
